<footer>
    <div class="container">
        <div class="sub-nav flex">
            <div class="sub-menu">
                <ul class="menu flex">
                    <li><a href="index.html">首頁</a></li>
                    <li><a href="qna.html">系列鏡框</a></li>
                    <li><a href="qna.html">門市據點</a></li>
                    <li><a href="qna.html">部落格</a></li>
                    <li><a href="qna.html">常見問題</a></li>
                </ul>
            </div>
            <div class="socialmedia">
                <ul class="socialmedia-icons flex">
                    <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png" alt="fb"></a></li>
                    <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png" alt="ig"></a></li>
                    <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png" alt="line"></a></li>
                </ul>
            </div>
        </div>            
        <ul class="contact-info">
            <li class="flex"><span class="material-symbols-outlined">
                call
                </span><div>0800-000-000</div></li>
            <li class="flex"><span class="material-symbols-outlined">
                mail
                </span><div>glasses@business.co</div></li>
        </ul>
        <div class="copyright flex">
            <div class="copyright-rext">
                Copyright © 2020 Glasses.All rights reserved.
            </div>
            <ul class="conpyright-link  flex"> 
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>