<nav>
    <div class="container flex">
        <div class="logo">
            <a href="index.html"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png" alt="logo"></a>
        </div>
        <ul class="menu flex">
            <li><a href="qna.html">系列鏡框</a></li>
            <li><a href="qna.html">門市據點</a></li>
            <li><a href="qna.html">部落格</a></li>
            <li><a href="qna.html">常見問題</a></li>
        </ul>
    </div>
</nav>