.banner{    
    background-image: $banner-bg;
    background-size: cover;
    .banner-slogan{
        width: 50%;
        margin-left: auto;
        padding: 294px 0;
        color: $color-dark;
        text-align: right;
        p{
            font-size: 36px;
            line-height: 54px;
        }
        h4{
            margin-bottom: 4px;
            font-size: 64px;
            line-height: 96px;
            font-weight: bold;
        }
        .btn{
            padding: 6px 12px;
            color: #fff;
            font-size: 20px;
            line-height: 30px;            
            background: $color-main;
            display: inline-block;
            &:hover{
                background: $color-dark;
                cursor: pointer;
            }
        }
    }
}

main h3{
    font-size: 48px;
    line-height: 72px;
    color: $color-dark;
    font-weight: bold;     
    text-align: center;
    display: block;
}

.service{
    background: $color-light;
}
.service .container{
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    h3{
        margin-bottom: 32px;               
    }
    img{
        width: 83px;
        margin: 0 auto;
        margin-bottom: 24px;        
    }
    h4{
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 36px;
        color: $color-dark;
        font-weight: bold;        
    }
    p{
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }
}

.products{
    padding: 80px 0;
    h3{
        margin-bottom: 48px;
    }
    .products-card-group.flex{
        justify-content: space-between;        
    }
    .products-card{
        width: 416px;
    }
    .product-name{
        font-size: 48px;
        line-height: 72px;
        color: $color-main;
        font-family: Roboto,serif;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        &:hover{
            opacity: .7;
        }
    }
}

.onsale{    
    padding: 80px 0;
    background-image: $onsale-bg;
    background-size: 100%;
    h3{
        margin-bottom: 48px;
        color:#fff;
    }
    .product-name{
        font-size: 48px;
        line-height: 72px;
        color: $color-main;
        font-family: Roboto,serif;
        font-weight: bold;
        font-style: italic;
        text-align: center;
        background-color: #fff;
        border: 1px solid $color-border;
        &:hover{
            opacity: .9;
        }
    }
    img{
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.feedback{
    padding: 80px 0;
    h3{
        margin-bottom: 48px;
    }
    .feedback-card-group.flex{
        justify-content: space-between;        
    }
    .feedback-card{
        width: 306px;
        height: 511px;
        border: 1px solid $color-border;
        box-shadow: 0px 2px 6px #00000029;
        border-radius: 4px;
    }
    .feedback-detail{
        height: 206px;
        padding: 16px 16px;
        flex-direction: column;  
        justify-content: space-between;
        div{
            width: 100%;
            display: block;     
        }
    }
    .feedback-name{
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 24px;
    }
    .feedback-content{
        font-size: 16px;
        line-height: 24px;
    }
    .feedback-date{
        font-size: 14px;
        line-height: 21px;
        color: #707070;
    }
}

.contact{
    padding: 80px 0;
    background: $color-light;    
    h3{
        margin-bottom: 48px;
    }
    p{
        width: 636px;
        margin: 0 auto;
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 30px;
    }
    form{
        width: 636px;   
        margin: 0 auto;
    }
    label,
    input,
    textarea{
        font-size: 16px;
        line-height: 24px;
        font-family: inherit;
    }
    input,
    textarea{
        width: 100%;
    }
    label{
        display: inline-block;
        margin-bottom: 8px;
    }
    input{
        margin-bottom: 16px;
        padding: 6px 12px;
    }
    label.check,
    input.check{
        margin-bottom: 48px;
    }
    input.check{
        width: auto;
    }
    textarea{
        margin-bottom: 16px;        
        padding: 6px 12px;
    }
    button{
        width: 416px;
        margin: 0 auto 80px;
        padding: 16px 176px;
        background: $color-main;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-family: inherit;
        border: 0;
        outline: none;
        display: block;        
        &:hover{
            cursor: pointer;
            background: $color-dark;
        }
    }
    
}