$color-main: #AA0601;
$color-dark: #650300;
$color-light: #fbf2f2;
$color-border: #DEE2E6;


$banner-bg: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
$banner-bg-sm: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png");
$onsale-bg: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");

$index-bg-md: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-md.png");
$index-bg-sm: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-sm.png");

$product-header-sm-1: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-1.png");
$product-header-sm-2: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-2.png");
$product-header-sm-3: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-3.png");
$product-header-sm-4: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/product-header-sm-4.png");

$home-section4-1-sm: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1-sm.png");
$home-section4-2-sm: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2-sm.png");
$home-header-sm: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header-sm.png");

// box-shadow
@mixin boxShadowStyle{
    -webkit-box-shadow: 0px 0px 55px -12px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 55px -12px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 55px -12px rgba(0,0,0,0.5);
}
